/*
=============== 
Font family
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* primary color */
  --clr-primary-0: #f55d05;
  --clr-primary-10: #f66d1e;
  --clr-primary-30: #f88e50;
  --clr-primary-40: #f99e69;
  /* other colors */
  --clr-black: #222;
  --clr-black-light: #919191;
  --clr-white: #fff;
  /* other variables */
  --transition: all 0.3s linear;
  --border-radious: 0.5rem;
  --bs-light: 0 5px 15px rgba(0, 0, 0, 0.1);
  --bs-dark: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
=============== 
Global Styles
===============
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--clr-black-light);
  line-height: 1.5;
  font-size: 0.875rem;
  overflow: hidden;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--clr-black);
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  letter-spacing: 0.75px;
}
/* bigger screen */
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  color: var(--clr-white);
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  background: var(--clr-primary-0);
  border: transparent;
  border-radius: var(--border-radious);
  transition: var(--transition);
  cursor: pointer;
}
.btn-cart {
  filter: brightness(0) saturate(100%) invert(100%) sepia(53%) saturate(0%)
    hue-rotate(159deg) brightness(101%) contrast(102%);
}
.btn:hover {
  background: var(--clr-primary-40);
}
/*
=============== 
NAVBAR
===============
*/
.nav-links {
  display: none;
}
.nav {
  width: 100%;
  height: 4rem;
  padding: 1rem;
  display: grid;
  align-items: center;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu-container img {
  height: 1.5rem;
}
.profile-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.img-avatar,
.cart-icon {
  height: 2rem;
}
.menu-btn,
.close-btn {
  cursor: pointer;
  background: transparent;
  border: transparent;
}
@media screen and (min-width: 992px) {
  .menu-btn {
    display: none;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
  }
  .nav-links {
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
    transition: var(--transition);
  }
  .nav-link a {
    color: var(--clr-black-light);
  }
  .menu-btn-icon {
    filter: brightness(0) saturate(100%) invert(65%) sepia(0%) saturate(15%)
      hue-rotate(224deg) brightness(86%) contrast(102%);
  }
}
/*
=============== 
SIDEBAR
===============
*/
.sidebar {
  position: fixed;
  top: 0;
  background: var(--clr-white);
  min-height: 100vh;
  width: 80vw;
  z-index: 2;
  transition: var(--transition);
  transform: translateX(-80vw);
}
.show-sidebar {
  transform: translateX(0);
}
.close-btn {
  position: relative;
  top: 1.5rem;
  left: 1rem;
}
.sidebar-links {
  padding-top: 5rem;
  padding-left: 1rem;
}
.sidebar-link {
  margin-bottom: 1rem;
  font-weight: 700;
}
/*
=============== 
HERO
===============
*/
.hero {
  min-height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
}
.section-center {
  width: 95vw;
  max-width: 1170px;
  margin: 0 auto;
}
.product-img-container {
  position: relative;
}
.main-img {
  position: relative;
  width: 100%;
}
.thumbnail-photos {
  display: none;
}
.arrow {
  display: grid;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--clr-white);
  opacity: 0.8;
  cursor: pointer;
  transition: var(--transition);
}
.arrow:hover {
  opacity: 1;
}
.arrow img {
  width: 70%;
}
.left {
  left: 1rem;
}
.right {
  right: 1rem;
}
.content {
  padding: 1rem 1rem;
}
.hero-info span {
  color: var(--clr-primary-30);
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.hero-info h2 {
  margin-top: 1rem;
  width: 25rem;
  color: var(--clr-black);
}
.hero-info p {
  margin-top: 2.5rem;
  max-width: 30rem;
  font-size: 1.25rem;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price h2,
h3 {
  margin: 0;
}
.price h3 {
  text-decoration: line-through;
}
.price span {
  color: var(--clr-white);
  font-size: 1rem;
  font-weight: 700;
  background: var(--clr-primary-40);
  padding: 0.3rem 0.75rem;
  border-radius: var(--border-radious);
}
.cart {
  display: grid;
  gap: 2rem;
}
.number-item {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgb(237, 236, 236);
  border-radius: var(--border-radious);
  color: var(--clr-black);
}
.btn-cart {
  padding: 0.75rem 0;
  box-shadow: var(--bs-dark);
}
@media screen and (min-width: 992px) {
  .nav {
    height: 10rem;
    align-items: stretch;
  }
  .img-avatar {
    height: 4rem;
  }
  .cart-icon {
    margin-right: 2rem;
    height: 2rem;
  }

  .nav-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 5rem;
    align-content: stretch;
  }
  .nav-center {
    display: grid;
    border-bottom: 2px solid rgba(194, 192, 192, 0.2);
  }
  .nav-links {
    align-self: stretch;
  }
  .nav-link {
    position: relative;
  }
  .nav-link a {
    position: relative;
    top: 40%;
  }
  .nav-link:hover {
    margin-bottom: -4px;
    border-bottom: 4px solid var(--clr-primary-0);
  }
  .section-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    align-items: center;
  }
  .main-img {
    border-radius: 1rem;
  }
  .thumbnail-photos {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    cursor: pointer;
  }
  .thumbnail-photos img {
    width: 20%;
    border-radius: 1rem;
  }
  .thumbnail-selected {
    opacity: 0.5;
    border: 4px solid var(--clr-primary-0);
  }
  .hero-info p {
    max-width: 40rem;
    line-height: 1.8;
  }
  .price {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    row-gap: 1rem;
  }
  .price span {
    margin-left: 1rem;
  }
  .price h2 {
    color: var(--clr-black);
  }
  .price h3 {
    opacity: 0.7;
  }
  .cart {
    margin-top: 2rem;
    grid-template-columns: auto auto;
  }
  .number-item {
    margin-top: 0;
  }
  .number-item h3 {
    font-size: 1.4rem;
  }
  .btn {
    font-size: 1.25rem;
  }
}
